{% extends "layout.html.twig" %}
{% block content %}
    {% if(messages) %}
        <div class="alert alert-danger">
            <h2>Errors:</h2>
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% if action == 'update_post_path' %}
        <h1>Edit article</h1>
        <form action="{{ path(action, {'id': id}) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" value="Save" class="btn btn-primary"/>
        </form>
    {% else %}
        <h1>Create article</h1>
        <form action="{{ path(action) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <input type="submit" value="Save" class="btn btn-primary"/>
        </form>
    {% endif %}
{% endblock %}