{% extends "layout.html.twig" %}
{% block content %}
    {% for post in posts %}
        <article>
            <h1>
                <a href="{{ path('post_path', {'id': post.id}) }}">{{ post.title }}</a>
            </h1>
            <div class="text">
                {{ post.text|truncate(500) }}
                <p><a href="{{ path('post_path', {'id': post.id}) }}">Read more...</a></p>
            </div>
            <p class="info">
                <b>Author</b>: <a class="auth_link" href="{{ path('view_by_author', {'id': post.author.id}) }}">{{ post.author.firstName }}</a>
                | <b>Category</b>: <a class="cat_link" href="{{ path('view_by_category', {'id': post.category.id}) }}">{{ post.category.title }}</a>
                | {% include '@FrontendPost/Post/vote.html.twig' with {'vote': post.showRate, 'id': post.id, 'author': post.author} %}
                | <b>Published</b>: {{ post.published.format("d M Y H:i") }}
                | <a href="{{ path('post_path', {'id': post.id}) }}#comments">
                    <b>Comments:</b> {{ post.comments|length }}
                  </a>
                {% if(user and (user.role == "ROLE_ADMIN" or user.firstName == post.author.firstName)) %}
                    {% if(user.firstName == post.author.firstName) %}
                        | <a href="{{ path('edit_post_path', {"id":post.id}) }}" class="btn-small btn-primary">Edit</a>
                    {% endif %}
                    | <a href="{{ path('delete_post_path', {"id":post.id}) }}" class="btn-small btn-danger">Delete</a>
                {% endif %}
            </p>
        </article>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(posts) }}
    </div>
    <script src="/packages/site/js/vote.js"></script>
{% endblock %}