{% extends "layout.html.twig" %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <div class="post-content">
        {{ post.text }}
    </div>
    <p class="alert alert-info">
        <b>Author</b>: <a class="auth_link" href="{{ path('view_by_author', {'id': post.author.id}) }}">{{ post.author.firstName }}</a>
        {% include '@FrontendPost/Post/vote.html.twig' with {'vote': post.showRate, 'id': post.id, 'author': post.author} %}
        | <b>Category</b>:  <a class="cat_link" href="{{ path('view_by_category', {'id': post.category.id}) }}">{{ post.category.title }}</a>
        | <b>Published</b>: {{ post.published.format("d M Y H:i") }}
        {% if(user and (user.role == 'ROLE_ADMIN' or post.author.firstName == user.firstName)) %}
            {% if post.author.firstName == user.firstName %}
                | <a href="{{ path('edit_post_path', {'id': post.id}) }}" class="btn-small btn-primary">Edit</a>
            {% endif %}
            | <a href="{{ path('delete_post_path', {'id': post.id}) }}" class="btn-small btn-danger">Delete</a>
        {% endif %}
    </p>
    <a name="comments"></a>
    <h2>Comments</h2>
    <hr/>
    <p class="showReply alert alert-info">
        <b>Reply to:</b>
        <span class="comment_id"></span>
        <a href="#" class="btn-small btn-danger removeAuthor">Delete</a>
    </p>
    {{ render(controller('FrontendCommentBundle:Comment:getCommentForm', {'id': post.id})) }}
    {%  if comments|length >0 %}
        {% include('@FrontendComment/Comment/comment.html.twig') with {'comments': comments, 'user': user, 'postAuthor': post.author, 'parent': null} %}
    {% else %}
        <h4>Not commented yet...</h4>
    {% endif %}
    <script src="/packages/site/js/vote.js"></script>
{% endblock %}