<span class="postMarks" post="{{ id }}">
    <b>Rate:</b>
    {% if vote == 0 %}
        <span class="status">&mdash;</span>
    {% else %}
        {% if vote < 0 %}
            <span class="status voteMinus">{{ vote }}</span>
        {% else %}
            <span class="status votePlus">+{{ vote }}</span>
        {% endif %}
    {% endif %}

    {% if user and user != author %}
        <b class="marks">
            <a href="#" class="up voteUp btn btn-success" post="{{ id }}">&uarr;</a>
            or
            <a href="#" class="down voteDown btn btn-danger" post="{{ id }}">&darr;</a>
        </b>
    {% else %}
        <b style="color: red;">You can't vote.</b>
    {% endif %}
</span>