* {
  margin: 0;
  padding: 0;
}
body,
html {
  min-height: 100%;
}
body {
  background: #f0f0f0;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  height: 30px;
}
.container-fluid {
  max-width: 940px;
  padding: 0;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 10px #d3d3d3;
  border-left: 1px #d3d3d3 solid;
  border-right: 1px #d3d3d3 solid;
  background: #fff;
}
.container-fluid .clear {
  margin-top: 5px;
  height: 51px;
}
.container-fluid .span3 {
  border-left: 1px #D3D3D3 solid;
  padding: 5px;
  margin: 0 10px 0 10px;
}
.container-fluid .span9 {
  padding-left: 10px;
}
.container-fluid .span9 article {
  margin-top: 5px;
  padding: 7px 7px 0px 7px;
  border: 1px #D3D3D3 solid;
}
.container-fluid .span9 article:first-child {
  margin-top: 0;
}
.container-fluid .span9 article p.info {
  margin-top: 3px;
  border-radius: 7px;
  padding: 10px;
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.container-fluid a.cat_link,
.container-fluid a.auth_link {
  text-decoration: underline;
  color: #222222;
}
footer {
  margin: -51px auto 0 auto;
  height: 50px;
  max-width: 940px;
  border-top: 1px #d3d3d3 solid;
}
header {
  height: 80px;
}
header .logo {
  text-align: center;
}
header .logo small {
  font-size: 20px;
}
#post_form #post_form_title {
  width: 100%;
}
#post_form textarea#post_form_text {
  min-height: 250px;
  min-width: 100%;
  max-width: 100%;
}
#post_form .post-content {
  margin-bottom: 10px;
}
.postContainer {
  padding: 3px 5px;
  border: 1px solid #d3d3d3;
  border-bottom: none;
}
.postContainer:last-child {
  border-bottom: 1px solid #d3d3d3;
}
div#registration label {
  font-weight: bold;
}
div#registration input[type="text"],
div#registration input[type="password"],
div#registration input[type="email"] {
  height: 30px;
  width: 100%;
}
.commentBody {
  padding: 5px;
  padding-bottom: 0;
  margin-right: 5px;
  border: 1px solid #d3d3d3;
  margin-bottom: 15px;
}
.commentBody .alert,
.commentBody .alert-info {
  margin-bottom: 5px;
}
.commentBody p {
  word-break: break-all;
}
.comment_form textarea {
  min-width: 100%;
  max-width: 100%;
  height: 250px;
}
.comment_form input[type="text"] {
  width: 300px;
  height: 30px;
}
span.votePlus {
  color: green;
}
span.voteMinus {
  color: red;
}
b.marks a {
  font-size: 20px;
}
b.marks a:hover {
  color: #000;
  text-decoration: none;
}
