<html>
    <head>
        <title>Some title | Title for base layout</title>
        <link href="/packages/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/packages/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        {% block stylesheets %}
            {% stylesheets '@FrontendSiteBundle/Resources/style/style.css' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            {% include 'header.html.twig' %}
            <div class="row-fluid">
                <div class="span9">
                    {% block content %}{% endblock %}
                </div>
                <div class="span3">
                    {% include 'sidebar.html.twig' %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <footer></footer>
    </body>
</html>