{% if pageCount > 1 %}
    <div class="pagination">
        <ul>
            {% if first is defined and current != first %}
                <li class="first"><a href="{{ path(route, query|merge({(pageParameterName): first})) }}">|&larr;</a></li>
            {% endif %}

            {% if previous is defined %}
                <li class="previous"><a class="hidden-xs" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&larr;</a></li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                {% else %}
                    <li class="current active"><a>{{ page }} <span class="sr-only"></span></a></li>
                {% endif %}
            {% endfor %}

            {% if next is defined %}
                <li class="next"><a class="hidden-xs" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&rarr;</a></li>
            {% endif %}

            {% if last is defined and current != last %}
                <li class="last"><a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&rarr;|</a></li>
            {% endif %}
        </ul>
    </div>
{% endif %}