{% extends "layout.html.twig" %}
{% block content %}
    <h1>Login form</h1>
        {% if error %}
            <div class="alert alert-danger">
                <h2>Errors: </h2>
                <ul>
                    <li>{{ error.message }}</li>
                </ul>
            </div>
        {% endif %}

    <form action="{{ path('_security_check') }}" method="post" class="loginForm">
        <label for="login">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />
        <br>
        <input type="submit" name="login" class="btn btn-primary"/>
    </form>
{% endblock %}