{% extends "layout.html.twig" %}
{% block content %}
    <h1>Manage account</h1>
    {% if user.role == 'ROLE_ADMIN' %}
        <div class="alert alert-info">
            You're admin!
        </div>
    {% endif %}
    {% if(user_messages) %}
        <div class="alert alert-danger">
            <h2>Errors:</h2>
            <ul>
                {% for message in user_messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form action="{{ path('update_user') }}" method="post" {{ form_enctype(user_form) }}>
        {{ form_widget(user_form) }}
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
    <hr />
    <h1>Change password</h1>
    {% if(password_messages) %}
        <div class="alert alert-danger">
            <h2>Errors:</h2>
            <ul>
                {% for message in password_messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form action="{{ path('change_user_password') }}" method="post" {{ form_enctype(password_form) }}>
        {{ form_widget(password_form) }}
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
{% endblock %}