{% extends "layout.html.twig" %}
{% block content %}
    <h1>Registration</h1>
    {% if(messages) %}
        <div class="alert alert-danger">
            <h2>Errors:</h2>
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <form action="{{ path('new_user') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
{% endblock %}