{% extends "layout.html.twig" %}
{% block content %}
    <h1>Manage posts</h1>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Title</th>
            <th>Text</th>
            <th>Published</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for post in posts %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.text|truncate(100) }}</td>
                <td>{{ post.published.format("d-m-Y") }}</td>
                <td>
                    <a href="{{ path('edit_post_path', {"id":post.id}) }}" class="btn-small btn-primary">Edit</a>
                    <a href="{{ path('delete_post_path', {"id":post.id}) }}" class="btn-small btn-danger">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}