{% if(user) %}
    <p>Hello, {{ user.firstName }}! <a href="{{ path('_security_logout') }}">Logout</a>?</p>
    <ul>
        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AUTHOR') %}
            <li><a href="{{ path('new_post_path') }}">Add post</a></li>
            {% if is_granted('ROLE_ADMIN') %}
                <li><a href="#">Manage site</a></li>
            {% endif %}
        {% else %}
            <p>You're not author :(</p>
        {% endif %}
        <li><a href="{{ path('account_manage_path') }}">Manage account</a></li>
    </ul>
{% else %}
    <p>You're not loggined :(
        <a href="{{ path('_security_login') }}">login</a>
        or
        <a href="{{ path('reg_path') }}">register</a>
    </p>
{% endif %}
{% for article in articles %}
    <div class="postContainer">
        <h5>{{ article.title }}</h5>
        <a href="{{ path('post_path', {'id':article.id}) }}">Read more...</a>
    </div>
{% endfor %}