<h4>Add comment</h4>
{% if user %}
    <form class="comment_form" action="{{ path('post_save_comment_path', {'id':post_id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" value="Save" class="btn btn-primary"/>
    </form>
{% else %}
    <h6 class="alert alert-danger">You're not logined! Please, login for adding comments.</h6>
{% endif %}