{% for comment in comments %}
    {% if comment.parent == parent %}
        <div class="commentBody">
            <b class="commentAuthor">
                <span>{{ comment.author.firstName }}</span>
            </b>
            <p>
                <small>{{ comment.published.format("d M Y H:i") }}</small>
                <small>
                    <b>ID:</b> {{ comment.id }}
                </small>
            </p>
            <p>
                {{ comment.text }}
            </p>
            <p>
                <a href="#" author="{{ comment.id }}" class="reply-btn btn-small btn-primary"><i class="icon-share-alt icon-white"></i> Reply</a>
            </p>
        </div>
        {% if comment.children %}
            <div style="margin-left: 30px;">
                {% include('@FrontendComment/Comment/comment.html.twig') with {'comments': comment.children, 'user': user, 'postAuthor': postAuthor, 'parent': comment} %}
            </div>
        {% endif %}
    {% endif %}
{% endfor %}